* {
  margin: 0;
  padding: 0;
}

.folder__items {
  background-color: #eee;
  margin-top: 0.5rem;
  display: flex;
  width: 60%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.file {
  margin-top: 0.5rem;
}

.btn {
  width: auto;
  font-size: 12px;
  height: 1.5rem;
  margin-left: 5px;
  padding: 4px;
}
