* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efedd6;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background-color: steelblue;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 120px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-500%);
}

.box:nth-of-type(odd) {
  transform: translateX(500%);
}

.box.show {
  transform: translateX(0);
}
